@{Layout = null;}

<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>SIVA - Sistema Integrado de Valor Adicionado</title>

    <!-- Bootstrap -->
    <link href="~/Content/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/Content/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/Content/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- Animate.css -->
    <link href="~/Content/vendors/animate.css/animate.min.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="~/Content/build/css/custom.min.css" rel="stylesheet">
</head>

<body class="login">
    <div>
        <a class="hiddenanchor" id="signup"></a>
        <a class="hiddenanchor" id="signin"></a>

        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">
                    <form action="/Login/Entrar" method="post" name="frm">
                        <div>
                            <img src="~/Content/images/logo.png" />
                        </div>
                        <br /><br />
                        <div>
                            <input type="text" class="form-control" placeholder="Login" id="login" name="login" />
                        </div>
                        <div>
                            <input type="password" class="form-control" placeholder="Senha" id="senha" name="senha" />
                        </div>
                        <div>
                            <input id="cmdEntrar" type="submit" class="btn btn-success" value="Entrar" />                            
                        </div>

                        <div class="clearfix"></div>

                        <div class="separator">

                            <div class="clearfix"></div>
                            <br />
                            <div>
                                <p>Sistema Integrado de Valor Adicionado </p>
                                <p>©2016 All Rights Reserved. Solução Tributos</p>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
    <!-- jQuery -->
    <script src="~/Content/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/Content/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="~/Content/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/Content/vendors/nprogress/nprogress.js"></script>
    <!-- validator -->
    <script src="~/Content/vendors/validator/validator.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="~/Content/build/js/custom.min.js"></script>

    <!-- validator -->
    <script>

        $(document).ready(function () {

            $('#cmdEntrar').on('click', function (e) {

                e.preventDefault();

                var self = $(this);

                if (!$.trim($("#login").val()))
                    return alert('Informe o login.');

                if (!$.trim($("#senha").val()))
                    return alert('Informe a Senha.');                

                document.frm.submit();

                @*$.ajax({
                    type: "POST",
                    url: '@Url.Action("Entrar", "Login")',
                    dataType: "json",
                    success: function (data) {                        
                        
                        if (data.ex != null) {
                            return alert(data.ex);
                        }
                        
                       document.location.href = '@Url.Action("Index", "Principal")';
                    },
                    data: usuario
                });*@
            });
        });

    </script>
    <!-- /validator -->

</body>
</html>
