<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="dal.Properties.Settings.ConnectionString" connectionString="DATA SOURCE=201.76.148.38:1521/GENIPABU;PASSWORD=Solucao!2016*2017;USER ID=DEVELOPER"
            providerName="Oracle.ManagedDataAccess.Client" />
    </connectionStrings>
</configuration>